<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GeneradorInformeNapoleon" parallel="none">
  <test name="Informe">
    <classes>
      <class name="co.com.napoleonsystems.ClasePrincipal"/>
    </classes>
  </test> <!-- Informe -->
</suite> <!-- GeneradorInformeNapoleon -->
